@page "/page"
@page "/page/link-2"
@page "/page/link-3"
@page "/page/link-3/child-1"
@page "/page/link-3/child-2"

<h3>@@page</h3>

<div class="w-25">
    <NavLink class="d-block" href="page">Link 1</NavLink>
    <NavLink class="d-block" href="page/link-2">Link 2</NavLink>
    <NavLink class="d-block" href="page/link-3">Link 3</NavLink>
    <NavLink class="d-block" href="page/link-3/child-1">Link 3.1</NavLink>
    <NavLink class="d-block" href="page/link-3/child-2">Link 3.2</NavLink>
</div>